.button {
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    transition: all 0.2s ease;
    outline: none;
}

.button--default {
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

.button--collapsed {
    background-color: transparent;
    color: var(--text-color-light);
}

.button--nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-weight: 500;
    background-color: transparent;
    color: var(--text-color-light);
    width: 90%;
}

.button--nav:hover,
.button--collapsed:hover {
    background-color: var(--hover-color);
}

.button--active {
    background-color: var(--hover-color);
    font-weight: bold;
}

.button--logout {
    background: transparent;
    border: none;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.button--logout:hover {
    background-color: var(--hover-color);
}