.button {    
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    transition: all 0.2s ease;
    border: none;
    outline: none;
}

.button--default {
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

.button--collapsed {
    background-color: transparent;
    color: var(--text-color-light);
}

.button--cancel:hover {
    background-color: rgba(255, 0, 0, 0.562);
}

.button--cancel {
    background-color: red;
    color: var(--text-color-light);
    width: 20%;
}

.button--nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-weight: 500;
    background-color: transparent;
    color: var(--text-color-light);
    width: 90%;
}

.button--save {
    background-color: var(--save-color-btn);
    color: var(--text-color-light);
    border: 1px solid var(--border-color);    
    width: 20%;
}

.button--save:hover {
    background-color: var(--save-color-btn-h);
}

.button--int {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid var(--border-color);
}

.button--nav:hover,
.button--collapsed:hover,
.button--int:hover {
    background-color: var(--hover-color);
}

.button--active {
    background-color: var(--hover-color);
    font-weight: bold;
}

.button--logout {
    background: transparent;
    border: none;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.button--logout:hover {
    background-color: var(--hover-color);
}