.main-card {
    gap: 10px;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-height: 255px;
}

.main-dash-container {
    height: 80%;
    overflow: auto;
    padding: 5px;
}