.main-container {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color-logged);
    color: var(--text-color);
    grid-column: 2;
}

.navbar-container {
    display: grid;
    grid-template-rows: 5vh auto;
    grid-template-columns: 200px auto;
    height: 100vh;
}

#navbar {
    background-color: var(--secondary-color);
    grid-row: 1 / span 2;
}

#container-nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: var(--secondary-color);
    grid-row: 1 / span 2;
}

#nav-header {
    background-color: var(--secondary-color);
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#brand {
    color: whitesmoke;
    font-weight: bold;
    margin: 10px;
}

.contents-nav-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

.logout-button-container {
    display: flex;
    justify-content: flex-end;
}

.logout-button-icon {
    color: var(--primary-color-logged);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #navbar {
        flex-direction: column;
    }

    #container-navbar {
        display: flex;
        align-items: center;
        width: 100%;
    }

    #container {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
        width: 95%;
    }

    #brand {
        color: whitesmoke
    }

    #container-nav-n {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 250px;
        background-color: #f8f9fa;
        box-shadow: 2px 0 5px var(--shadow-color);
        padding: 20px;
        z-index: 1000;
    }

}