.nav-tab-header {
    display: flex;
    flex-direction: row;
    padding: 5px;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--primary-color);
    gap: 10px;
}

.settings-main-container {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings-main-container svg {
    border: 2px solid black;
    border-radius: 150px;
    padding: 30px;
}