.card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
}

.card-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    padding-bottom: 10px;
}